*.DS_Store
*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
# target
target/classes
target/maven-*
target/test-classes
target/surefire-reports
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
.idea
*.iml
